<h1>Welcome To Our</h1>
<h2>Anagram generator</h2>

<div class="form">
  <form action="/" method="post" class="form">
    <label for="word">3 Letter Words ONLY Please!</label>
    <input type="text" name="word">
    <button type="submit" class="btn">Show Me My Anagrams!</button>
  </form>
</div>
